.campo-texto {
    margin: 24px 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.campo-texto input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: 'Montserrat', serif;
    padding: 24px;
    box-sizing: border-box;
}

.campo-texto input::placeholder {
    color: #A4A4A4;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}